/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
  .grid-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .col-one {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
  }

  .col-two {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
  }

  .col-three {
    grid-column: 3 / 4;
    grid-row: 1 / 1;
  }

  img {
    max-width: 75%;
  }

  p {
    font-size: 1.9em;
    padding: 6px 9px 6px 9px;
  }
}
