:root {
  /*Web Site Fonts*/
  --roboto-ff: "Roboto", sans-serif;
  --roboto-slab-ff: "Roboto Slab", serif;
}

#content {
  overflow: hidden;
  margin: 12px;
}

header {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  font-weight: 900;
  font-family: var(--roboto-slab-ff);
  border-bottom: 3px solid teal;
}

main {
  width: auto;
  margin: 0 auto;
  background-color: white;
  font-family: var(--roboto-ff);
  font-size: 0.7rem;
}

footer {
  font-size: 0.6rem;
  font-family: var(--roboto-slab-ff);
  border-top: 3px solid teal;
}

header,
footer {
  color: teal;
  font-weight: bold;
  text-align: center;
  padding: 6px 6px 6px 6px;
  background-color: mintcream;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
  width: auto;
  border: 3px
}

.principle-title {
  color: black;
  padding: 6px;
  border-bottom: 3px solid cadetblue;
  height: 60px;
}

.col-one,
.col-two,
.col-three {
  background-color: mintcream;
  border-radius: 6px;
  border: 1px solid cadetblue;
  margin: 6px 6px 6px 6px;
}

.col-one {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.col-two {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.col-three {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

img{
  width: 360px;
  height: 720px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  object-position: top left;
  overflow: hidden;
  padding-left: 36px;
}

h1,
a {
  padding-left: 12px;
}

p {
  text-align: left;
  font-size: 1.2rem;
  padding: 12px 24px 12px 24px;
}
