@media only screen and (min-width: 32.5em) {
  body {
    margin: 6px auto;
    max-width: 50%;
  }

   header {
    font-size: 1.2rem;
  }

  main {
    padding-left: 6px;
    font-size: 1.0rem;
  }

  footer {
    font-size: 0.5rem;
  }

  img {
    max-width: 100%;
  }
}
